
@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@500;700&display=swap');

//Colors
$very-dark-grayish-blue: hsl(217, 19%, 35%);
$desaturated-dark-blue: hsl(214, 17%, 51%);
$grayish-blue: hsl(212, 23%, 69%);
$light-grayish-blue: hsl(210, 46%, 95%);
$white: #fff;

//Shadow
$shadow: 0px 0px 100px hsl(215, 21%, 76%);

//Font
$font-stack: 'Manrope', sans-serif;